/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


/* body styles */
body {
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared Style */
.btn-primary {
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    background: rgb(230, 83, 60);
    border: none;



}

.btn-primary a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    line-height: 22px;
}

.btn {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    background: none;

}

.btn a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}



/* header section start */
/* navigation bar Style */
.header {
    background: black;
    /* height: 100vh; */
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;

}
.nav-bar .nav-logo {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}
.hambars {
    display: none;
}
.nav-links ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    padding: .1rem;
    box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgb(90 81 81 / 50%);
    border-radius: 39px;

}
.nav-links ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
}
.nav-links ul li {
    padding: .8rem 2rem;
}
.nav-links ul .home {
    border-radius: 46px;
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);

}

/* banner style */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.banner-contain {
    max-width: 600px;
    margin: 5rem 0 5rem;
}
.banner-contain h1 {
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    line-height: 5.2rem;
    word-spacing: 10px;
}
.banner-contain .banner-contain-des {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-top: 1.8rem;
}
.banner-image img {
    width: 100%;
}
.shape {
    font-family: 'Miama', sans-serif;
    font-size: 10.5rem;
    font-weight: 400;
}
.banner-btn {
    display: flex;
    gap: 1rem;
    margin-top: 1.8rem;
}
.banner-image {
    position: relative;
}
.banner-shape {
    color: white;
    position: absolute;
    top: 70%;
    width: 210px;
    gap: 10px;
    right: 76%;
    padding: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-sizing: border-box; */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}
.banner-shape .shap {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: red;
    border-radius: 50px;
}

.banner-shap-des {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.banner-shape2 {
    color: white;
    position: absolute;
    top: 22%;
    width: 216px;
    gap: 10px;
    right: -27%;
    padding: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}



/* media Query */
/* small Device */
@media screen and (max-width: 576px) {

    .nav-links {
        display: none;
    }

    .banner {
        flex-direction: column;
    }

    .hambars {
        display: block;
        color: white;
        font-size: 40px;
    }

    .banner-shape {
        right: 60%;
    }

    .banner-shape2 {
        top: 15%;
        right: -20%;
    }
}